@font-face {
    font-family: jura-medium;
    src: url("../fonts/Jura-Medium.ttf");
}

@font-face {
    font-family:jura-regular;
    src: url("../fonts/Jura-Regular.ttf");
}

@font-face {
    font-family: jura-variable;
    src: url("../fonts/Jura-VariableFont_wght.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins-bkitalic;
    src: url("../fonts/Poppins-BlackItalic.ttf");
}


@font-face {
    font-family: poppins-black;
    src: url("../fonts/Poppins-Black.ttf");
}